/** CSS styles **/
* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans";
}

body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}


h1 {
    font-size: 1.75em;
}

section {
    background-color: #999999;
    border: 1px solid white;
    margin: 0 0 25px 0;
    padding: 0;
}



section p {
    padding: 0 6px 4px 6px;
}


/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
}
#nav-list a:hover {
  background: #DCDCDC;
  opacity: 0.8%;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid#DCDCDC;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}



h2
{
  color:  black;
}
/* END HEADER */








